<?xml version="1.0"?>
<html>
  <problem>
    <img src="/static/problems/MIT/rayyan/osu/images/spring.png" alt="spring" height="150"/>

      <p>A block attached to a spring is oscillating between point X (fully compressed) and point Y (fully stretched). At point O (relaxed spring), which of the following quantities would reach its maximum value?</p>

    <multiplechoiceresponse direction="vertical" randomize="no" type="MultipleChoice">
      <choicegroup type="MultipleChoice">
        <choice location="random" name="foil1" correct="false">
              <text>The block's kinetic energy</text>
        </choice>
        <choice location="random" name="foil2" correct="false">
              <text>The spring potential energy</text>
        </choice>
        <choice location="random" name="foil3" correct="false">
              <text>The magnitude of the block's momentum</text>
        </choice>
        <choice location="random" name="foil4" correct="false">
              <text>The magnitude of the block's acceleration</text>
        </choice>
        <choice location="random" name="foil5" correct="true">
			  <text>The block's kinetic energy &amp; the block's momentum</text>
        </choice>
        <choice location="random" name="foil6" correct="false">
			  <text>The spring potential energy &amp; the block's acceleration</text>
        </choice>
        <choice location="random" name="foil7" correct="false">
              <text>None of the above</text>
        </choice>
      </choicegroup>
    </multiplechoiceresponse>
      </problem>
</html>
