<h1>Resource #{{resource.id}}: {{ resource.name }}</h1>

<h3>Required Fields</h3>

<table border="1">
<tr>
	<td><b>Field</b></td> <td><b>Value</b></td>
</tr>
<tr>
	<td>Name</td> <td>{{resource.name}}</td>
</tr>
<tr>
	<td>Resource Type</td> <td>{{resource.resource_type}}</td>
</tr>
<tr>
	<td>Hide Info from Students?</td> <td>{{resource.hide_info}}</td>
</tr>

{% for LO in resource.learning_objective.all %}
<tr>
	<td>Learning Objective #{{forloop.counter}}</td> <td>{{LO.short_name}} ({{LO.learning_objective}})</td>
</tr>
{% endfor %}

</table>


<h3>Common Fields</h3>

<table border="1">
<tr>
	<td><b>Field</b></td> <td><b>Value</b></td>
</tr>
<tr>
	<td>Grade Level</td> <td>{{resource.grade_level}}</td>
</tr>
<tr>
	<td>Intended Use</td> <td>{{resource.intended_use}}</td>
</tr>

{% for KW in resource.keyword.all %}
<tr>
	<td>Keyword</td> <td>{{KW.keyword}}</td>
</tr>
{% endfor %}

{% for KW in resource.topic.all %}
<tr>
	<td>Topic</td> <td>{{KW.topic}}</td>
</tr>
{% endfor %}

<tr>
	<td>Problem Type</td> <td>{{resource.problem_type}}</td>
</tr>
</table>


<h3>License and Origin</h3>

<table border="1">
<tr>
	<td><b>Field</b></td> <td><b>Value</b></td>
</tr>
<tr>
	<td>License</td> <td><a href="{{resource.license_link}}">{{resource.license}}</a></td>
</tr>
<tr>
	<td>Licensing Notes</td> <td>{{resource.license_other_notes}}</td>
</tr>
<tr>
	<td>Source</td> <td>{{resource.source}}</td>
</tr>
<tr>
	<td>Author</td> <td>{{resource.author}}</td>
</tr>
<tr>
	<td>Source Comments</td> <td>{{resource.comments}}</td>
</tr>
</table>


<h3>Analytics Results</h3>

<table border="1">
<tr>
	<td><b>Field</b></td> <td><b>Value</b></td>
</tr>

{% for ANA in resource.keyword.all %}
<tr>
	<td>{{ANA.analytic}}</td> <td>{{ANA.analytic.value}}</td>
</tr>
{% endfor %}

</table>


<h3>Misc. Info</h3>

<table border="1">
<tr>
	<td><b>Field</b></td> <td><b>Value</b></td>
</tr>
<tr>
	<td>Creation Date</td> <td>{{resource.creation_date}}</td>
</tr>
</table>


