{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static "RDB/style.css" %}" />
</head>

<body>

<h1>Resource #{{resource.id}}: {{ resource.name }}</h1>

<h3>Required Fields</h3>

<table border="1">
<tr>
	<td><b>Name</b></td>
	<td>{{resource.name}}</td>
</tr>
<tr>
	<td><b>Resource Type</b></td>
	<td>{{resource.resource_type}}</td>
</tr>
<tr>
	<td><b>Hide Info from Students?</b></td>
	<td>{{resource.hide_info}}</td>
</tr>

{% for LO in resource.learning_objective.all %}
<tr>
	<td><b>Learning Objective #{{forloop.counter}}</b></td>
	<td>{{LO.short_name}} ({{LO.learning_objective}})</td>
</tr>
{% endfor %}

</table>


<h3>Common Fields</h3>

<table border="1">
<tr>
	<td><b>Grade Level</b></td>
	<td>{{resource.grade_level}}</td>
</tr>
<tr>
	<td><b>Intended Use</b></td>
	<td>{{resource.intended_use}}</td>
</tr>

{% for KW in resource.keyword.all %}
<tr>
	<td><b>Keyword</b></td>
	<td>{{KW.keyword}}</td>
</tr>
{% endfor %}

{% for KW in resource.topic.all %}
<tr>
	<td><b>Topic</b></td>
	<td>{{KW.topic}}</td>
</tr>
{% endfor %}

<tr>
	<td><b>Problem Type</b></td>
	<td>{{resource.problem_type}}</td>
</tr>
</table>


<h3>License and Origin</h3>

<table border="1">
<tr>
	<td><b>License</b></td>
	<td><a href="{{resource.license_link}}">{{resource.license}}</a></td>
</tr>
<tr>
	<td><b>Licensing Notes</b></td>
	<td>{{resource.license_other_notes}}</td>
</tr>
<tr>
	<td><b>Source</b></td>
	<td>{{resource.source}}</td>
</tr>
<tr>
	<td><b>Author</b></td>
	<td>{{resource.author}}</td>
</tr>
<tr>
	<td><b>Source Comments</b></td>
	<td>{{resource.comments}}</td>
</tr>
</table>


<h3>Analytics Results</h3>

<table border="1">

{% for AV in analytic_values.all %}
<tr>
	<td><b>{{AV.analytic.name}}</b></td>
	<td>{{AV.value}}</td>
</tr>
{% endfor %}

</table>


<h3>Misc. Info</h3>

<table border="1">
<tr>
	<td><b>Creation Date</b></td>
	<td>{{resource.creation_date}}</td>
</tr>
</table>

</body>
</html>