<table style="float:right" width="250" border="1">
<tr><td>
<h3>Recent Resources</h3>
<p>Here is a list of recent resources in creation-date order:</p>

{% if latest_resource_list %}
    <ul>
    {% for resource in latest_resource_list %}
        <li><a href="/RDB/{{ resource.id }}/">{{ resource.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No resources are available.</p>
{% endif %}
</td></tr>
</table>

<h3>Complete List of Resources</h3>

<table border="0">
{% for resource in resource_list %}
<tr>
<td>{{resource.id}}</td>
<td><a href="/RDB/{{ resource.id }}/">{{ resource.name }}</a></td>
<td>{{resource.resource_type}}</td>
<td>{{resource.description}}</td>
</tr>
{% endfor %}
</table>